<div *ngIf="report" class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg11.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h3 class="title" *ngIf="!report.anonymous; else anonymoustitle">{{reporter.firstName}} {{reporter.lastName}} ({{report.role}}) </h3>
                <div class="elements">
                    <div>
                        <h3>Victim</h3>
                        <p>{{report.victim}}</p>
                    </div>
                    <div class="property">
                        <h3>Perpetrator</h3>
                        <p>{{report.perp}}</p>
                    </div>
                    <div>
                        <h3>Type</h3>
                        <p>{{report.type}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h3 class="title">Description</h3>
            <h5 class="description" style="color: black">{{report.description}}</h5>
            <div class="row" *ngIf="(!resolved && !rated) && role=='ROLE_TEACHER'">
                <app-status-form [reportId]="id"></app-status-form>
            </div>
        </div>
    </div>
    <div class="section" *ngIf="(resolved && !rated) && role === 'ROLE_STUDENT'">
        <div class="container">
            <h3 class="title">Rate this report and teacher's commitment</h3>
            <button class="btn btn-primary" [routerLink]="['/review']">Rate report</button>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h3 class="title">Messages:</h3>
            <div *ngFor="let message of messages">
                <p *ngIf="message.user.role['name'] === 'ROLE_STUDENT'; else teachermessage" style="font-weight: bold">Student: </p>
                <p>{{message.text}}</p>
            </div>
        </div>
        <div class="container" *ngIf="!resolved && !rated">
            <div>
                <textarea placeholder="Write new message here..." rows="4" cols="80" #newmessage></textarea>
            </div>
            <button class="btn btn-primary" (click)="sendMessage(newmessage.value); newmessage.value='';">Send message</button>
        </div>
    </div>
</div>

<ng-template #anonymoustitle>
    <h3 class="title">Anonymous reporter ({{report.role}})</h3>
</ng-template>

<ng-template #teachermessage>
    <p style="font-weight: bold">Teacher: </p>
</ng-template>
