<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg11.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h3 class="title">Anonym</h3>
                <div class="elements">
                    <div>
                        <h3>Victim</h3>
                        <p>Gregory Smith</p>
                    </div>
                    <div class="property">
                        <h3>Perpetrator</h3>
                        <p>William Johnson</p>
                    </div>
                    <div>
                        <h3>Type</h3>
                        <p>Physical</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h3 class="title">Description</h3>
            <h5 class="description" style="color: black">Situation happened after math class. William hit Gregory's head with his backpack. I saw it happen a couple of times.</h5>
            <div class="row">
                <div class="col-md-12">
                    <h4>Mark the status of this case: </h4>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="status" id="read" value="read" checked>
                            <span class="form-check-sign"></span>
                            READ
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="status" id="inprogress" value="inprogress">
                            <span class="form-check-sign"></span>
                            IN PROGRESS
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="status" id="resolved" value="resolved">
                            <span class="form-check-sign"></span>
                            RESOLVED
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="status" id="unresolvable" value="unresolvable">
                            <span class="form-check-sign"></span>
                            UNRESOLVABLE
                        </label>
                    </div>
                    <button class="btn btn-primary btn-simple btn-round" style="border:1px solid black; color: black" type="button">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
