<div>
    <a [routerLink]=link>
        <table class="element grow">
            <tr>
                <th class="column-1">Victim</th>
                <th class="column-2">Perpetrator</th>
                <th class="column-3">Type</th>
                <th class="column-4">Status</th>
            </tr>
            <tr>
                <td class="column-1">{{report.victim}}</td>
                <td class="column-2">{{report.perp}}</td>
                <td class="column-3">{{report.type}}</td>
                <td class="column-4">{{report.status}}</td>
        </table>
    </a>
</div>
