<div class="card" style="width: 18rem;">
    <div class="card-body d-flex flex-column align-items-center">
        <h5 class="card-title">{{teacher.name}} {{teacher.surname}}</h5>
        <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;</span>
        </ng-template>

        <div *ngIf="teacher.reviewed == true">
            <p>Commitment into case</p>
            <div>
                <ngb-rating [(rate)]="teacher.commit" [starTemplate]="t"
                            [readonly]="readonly" [max]="maxRate"></ngb-rating>
            </div>
            <p>Quality of the contact with teacher</p>
            <div>
                <ngb-rating [(rate)]="teacher.resolution" [starTemplate]="t"
                            [readonly]="readonly" [max]="maxRate"></ngb-rating>
            </div>
            <p>Was the case resolved successfully?</p>
            <div>
                <ngb-rating [(rate)]="teacher.contact" [starTemplate]="t"
                            [readonly]="readonly" [max]="maxRate"></ngb-rating>
            </div>
            <p>Speed of the teacher's reaction</p>
            <div>
                <ngb-rating [(rate)]="teacher.speed" [starTemplate]="t"
                            [readonly]="readonly" [max]="maxRate"></ngb-rating>
            </div>
        </div>
        <div *ngIf="teacher.reviewed == false">
            <p>
                Teacher wasn't rated yet
            </p>
        </div>
    </div>
</div>




