<app-mainpanel style="margin: 0;padding:0; display: block"></app-mainpanel>
<div class="wrapper" style="margin: 0;padding:0">
    <div style="min-height: 100vh;
                 max-height: 999px;"
            class="page-header page-header-small" filter-color="orange">
        <div class="container">
            <div class="content-center">
                <h3 class="title">How would you rate this teacher's job?</h3>
                <div class="content">
                    <div class="social-description">
                        <h4>Commitment into case:</h4>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="comRate1" name="commitment">
                            <label class="custom-control-label" for="comRate1">1</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="comRate2" name="commitment">
                            <label class="custom-control-label" for="comRate2">2</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="comRate3" name="commitment">
                            <label class="custom-control-label" for="comRate3">3</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="comRate4" name="commitment">
                            <label class="custom-control-label" for="comRate4">4</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="comRate5" name="commitment">
                            <label class="custom-control-label" for="comRate5">5</label>
                        </div>

                        <div class="form-group shadow-textarea" style="padding-top: 20px;">
                            <textarea class="form-control z-depth-1" id="commitmentComment" rows="2" placeholder="Write your comment"></textarea>
                        </div>

                    </div>
                    <div class="social-description">
                        <h4>Quality of contact:</h4>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="QualityRate1" name="commitment">
                            <label class="custom-control-label" for="QualityRate1">1</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="QualityRate2" name="commitment">
                            <label class="custom-control-label" for="QualityRate2">2</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="QualityRate3" name="commitment">
                            <label class="custom-control-label" for="QualityRate3">3</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="QualityRate4" name="commitment">
                            <label class="custom-control-label" for="QualityRate4">4</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="QualityRate5" name="commitment">
                            <label class="custom-control-label" for="QualityRate5">5</label>
                        </div>

                        <div class="form-group shadow-textarea" style="padding-top: 20px;">
                            <textarea class="form-control z-depth-1" id="qualityComment" rows="2" placeholder="Write your comment"></textarea>
                        </div>
                    </div>
                    <div class="social-description">
                        <h4>Speed of the reaction:</h4>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SpeedRate1" name="commitment">
                            <label class="custom-control-label" for="SpeedRate1">1</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SpeedRate2" name="commitment">
                            <label class="custom-control-label" for="SpeedRate2">2</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SpeedRate3" name="commitment">
                            <label class="custom-control-label" for="SpeedRate3">3</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SpeedRate4" name="commitment">
                            <label class="custom-control-label" for="SpeedRate4">4</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SpeedRate5" name="commitment">
                            <label class="custom-control-label" for="SpeedRate5">5</label>
                        </div>

                        <div class="form-group shadow-textarea" style="padding-top: 20px;">
                            <textarea class="form-control z-depth-1" id="SpeedComment" rows="2" placeholder="Write your comment"></textarea>
                        </div>
                    </div>
                    <div class="social-description">
                        <h4>Was it resolved successfully:</h4>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SuccessRate1" name="commitment">
                            <label class="custom-control-label" for="SuccessRate1">1</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SuccessRate2" name="commitment">
                            <label class="custom-control-label" for="SuccessRate2">2</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SuccessRate3" name="commitment">
                            <label class="custom-control-label" for="SuccessRate3">3</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SuccessRate4" name="commitment">
                            <label class="custom-control-label" for="SuccessRate4">4</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="SuccessRate5" name="commitment">
                            <label class="custom-control-label" for="SuccessRate5">5</label>
                        </div>

                        <div class="form-group shadow-textarea" style="padding-top: 20px;">
                            <textarea class="form-control z-depth-1" id="SuccessComment" rows="2" placeholder="Write your comment"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-round" type="button">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
